.panel.panel-default
  .panel-heading
    %h3 Confirm Your Information
  .panel-body
    .row
      .col-md-12
        .stepwizard
          .stepwizard-row
            .stepwizard-step
              = link_to cognizant_relocation_step_path(@relocation, 'welcome'), class: "btn btn-success btn-circle" do
                %i.fa.fa-check.fa-fw
              %p Welcome
            .stepwizard-step
              %li.btn.btn-primary-me.btn-circle
                %i.fa.fa-ellipsis-h.fa-fw
              %p
                %strong Confirm Information
            .stepwizard-step
              %li.btn.btn-default.btn-circle
                %i.fa.fa-ellipsis-h.fa-fw
              %p Select Services
            .stepwizard-step
              %li.btn.btn-default.btn-circle
                %i.fa.fa-ellipsis-h.fa-fw
              %p Next Steps
    .row
      .col-md-12
        %p.lead
          The following information was received when you initiated your relocation. Please review and make sure it is accurate.
          Click the edit button to modify the data.
        %hr
      .col-md-6
        .panel.panel-default
          .panel-heading
            .panel-title
              %strong
                Personal Data
                - if can? :update, @employee
                  = link_to 'Edit', edit_cognizant_employee_path(@employee), remote: true, class: 'btn btn-primary-me btn-sm pull-right'
          .panel-body.employee-data
            = render 'cognizant/employees/show'
      .col-md-6
        .panel.panel-default
          .panel-heading
            .panel-title
              %strong
                Relocation Data
                - if can? :update, @relocation
                  = link_to 'Edit', edit_cognizant_relocation_path(@relocation), remote: true, class: 'btn btn-primary-me btn-sm pull-right'
          .panel-body.relocation-data
            = render 'cognizant/relocations/show'
    %p
      = link_to previous_wizard_path, class: "btn btn-primary-me btn-lg pull-left" do
        %i.fa.fa-angle-double-left.fa-fw
        Previous
      = link_to next_wizard_path, class: "btn btn-primary-me btn-lg pull-right" do
        Next
        %i.fa.fa-angle-double-right.fa-fw
.modal.fade#confirm-modal