= form_for [:admin, @service_type], remote: true, html: { class: "form-horizontal" } do |f|
  .modal-body
    %h4#error_explanation{ style: "display:none"}
    %ul.errors.text-danger{ style: "display:none"}
    .form-group
      .col-md-12
        = f.label "ME Service Type"
        -#= f.collection_select :service_category_id, @service_categories, :id, :name#, {class: "form-control"}
        = f.select :me_service_type_id, @service_types.map {|v| [ v['name'], v['id'] ] }, {}, {class: "form-control"}
    -#.form-group
    -#  .col-md-12
    -#    = f.label :name
    -#    = f.text_field :name, class: "form-control", required: true
    -#.form-group
    -#  .col-md-12
    -#    = f.label :description
    -#    = f.text_area :description, rows: 3, class: "form-control", required: true
    .form-group
      .col-md-12
        = f.label :status
        = f.select :status, ServiceType::STATUSES, {}, {class: "form-control"}
  .modal-footer
    .actions
      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
      = f.submit 'Save',  class: 'btn btn-primary-me'