= form_for [:admin, @organization], remote: true, html: { class: "form-horizontal" } do |f|
  .modal-body
    %h4#error_explanation{ style: "display:none"}
    %ul.errors.text-danger{ style: "display:none"}
    .form-group
      .col-md-6
        = f.label :name
        = f.text_field :name, class: "form-control", required: true
      .col-md-6
        = f.label :role
        = f.select :role, Organization::ROLES, {}, {class: "form-control"}
    .form-group
      .col-md-6
        = f.label "Backend Organization ID"
        = f.number_field :access_id, {class: 'form-control'}
      .col-md-6
        = f.label 'API Secret Key'
        = f.text_field :secret_key, {class: 'form-control'}
    .form-group
      .col-md-12
        .checkbox
          %label
            = f.check_box :active
            Active
  .modal-footer
    .actions
      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
      = f.submit 'Save',  class: 'btn btn-primary-me'